---
# YAMLlint configuration for Kubernetes manifests
extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
    indent-sequences: true
  comments:
    min-spaces-from-content: 1
  document-start: disable
  truthy:
    allowed-values: ["true", "false"]
  braces:
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1

ignore: |
  .terraform/
  .terraform.lock.hcl
  node_modules/
  vendor/
